* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(180, 211, 175);
}
#container-border {
    background-color: rgb(139, 161, 135);
    border-radius: 20px;
}
h1 {
    color: rgb(51, 59, 49);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}