* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(180, 211, 175);
}
#container-border {
    background-color: rgb(139, 161, 135);
    border-radius: 20px;
}
#image {
    height: 400px;
    border-radius: 20px;
}
h1 {
    color: rgb(51, 59, 49);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
button {
    margin: 5px;
    padding: 5px;
    background-color: rgb(51, 59, 49);
    color: rgb(180, 211, 175);
    border: 2px solid rgb(139, 161, 135);
    border-radius: 5px;
}